.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}
.chat__headerInfo h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color: gray;
}

.chat__headerRight {
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.chat__body {
  background-image: url("http://hdwpro.com/wp-content/uploads/2020/02/Super-Whatsapp-Wallpaper-scaled.jpg");
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chat__name {
  position: absolute;
  top: -15px;
  color: black;
  font-weight: 800;
  font-size: xx-small;
}
.chat__message {
  position: relative;
  background-color: cadetblue;
  font-size: 16px;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
}
.chat__receiver {
  background-color: pink;
  margin-left: auto;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  height: 62px;
  align-items: center;
  border-top: 1px solid lightgray;
}
.chat__footer > form {
  flex: 1;
  display: flex;
}
.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.chat__footer > form > input:focus {
  outline: none;
}
.chat__footer .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
.chat__footer > form > button {
  display: none;
}
